.bgg{
    background-image: url(../../../assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    color: #fff;
}
h1{
    font-size: 55px;
    color: rgb(145, 0, 0);
    margin-top: 100px;
}
h2{
    font-size: 150px;
    color: #fff;
    margin-top: 50px;

}
h3{
    font-size:55px;
    font-weight: 200;
    margin-top: 150px;
}
img{
    width: 200px;
    height: 200px;
}