mat-card {
  margin-bottom: 1em;
  font-size: 24px;
  button {
    float: right;
  }
  .post-title {
    font-weight: bold;
  }
  .post-meta {
    margin-top: 3em;
    font-size: 16px;
    font-style: italic;
  }
  .post-body {
    margin-top: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    height: 75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}
