<section id="hero">
    <video id="heroVideoBg" autoplay loop muted>
        <source type="video/mp4" src="../../../assets/videos/video1.mp4">
    </video>
    <img id="heroImgBg" src="https://tinyurl.com/y5gkrvxm" alt="storm">
    <div id="heroContent">
        <h1 style="color: #fff; font-weight: 200;">T I E U T H U Y E T C O K I E M K Y D A M</h1>
        <h2 style="color: #fff; font-weight: 200;">CHÚC LONG THƯỢNG HẢI</h2>
    </div>
</section>
<div class="container-fluid">
    <div class="row xx">
        <div class="col-12">
            <h2>TIỂU THUYẾT CỔ KIẾM KỲ ĐÀM</h2>
            <p>Tiểu thuyết Cổ Kiếm Kỳ Đàm dựa vào cốt truyện của game offline cùng tên được phát hành năm 2010 <br> là
                sản
                phẩm tiểu thuyết chính thức của phía Chúc Long Thượng Hải.</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6 text-center">
            <div class="ndLeft">
                <img src="../../../assets/imgTT/co-kiem-ky-dam-02_rtdj.jpg" alt="" width="100%" class="mb-2">
                <span>Tác giả: Mỗ Thụ, Ninh Trú </span><br>
                <span>Thể loại: Huyền huyễn </span><br>
                <span>Số trang: 320 </span><br>
                <span>Nhà xuất bản Hồ Nam văn nghệ </span><br>
                <span>Thời gian xuất bản: tháng 8 năm 2012 </span><br>
            </div>
        </div>
        <div class="col-6 text-center">
            <div class="ndRight">
                <img src="../../../assets/imgTT/cokiemkydam.jpg" alt="" width="100%" class="mb-2">
                <p class="text-justify p-2">Tiểu thuyết dùng ngôn ngữ tinh tế, lời văn cô đọng, đậm phong cách cổ vận,
                    hầu như đưa toàn bộ phong
                    cách thanh lệ của trò chơi vào tiểu thuyết. Đồng thời, dựa trên nguyên tác game, tiểu thuyết còn bổ
                    sung thêm nhiều nội dung hoặc đoạn ngắn không có trong trò chơi, làm tiểu thuyết càng thêm đầy đủ về
                    nội dung, cũng khiến câu chuyện của Cổ Kiếm Kỳ Đàm càng thêm hoàn mỹ.</p>
            </div>
        </div>
    </div>
    <div class="container mx-auto text-justify mt-2 mb-5">
        <div class="row yy">
            <div class="col-12">
                <h2><b>CỔ KIẾM KỲ ĐÀM</b></h2>
                <p>
                    Các sản phẩm của Cổ Kiếm Kỳ Đàm bao gồm Nguyên tác game Cổ Kiếm Kỳ Đàm – Cầm tâm kiếm phách kim hà tại
                    (2010); tiểu thuyết Cổ Kiếm Kỳ Đàm- Cầm Tâm Kiếm Phách (2012), bản phim truyền hình (2014). Chúng ta đã
                    quá quen thuộc với bản truyền hình, và đang tiếp cận dần bản game, nhưng bản tiểu thuyết thì chưa thấy
                    ai làm và hình như cũng ít ai để ý.
                </p>
                <p>
                    Tiểu thuyết Cổ Kiếm Kỳ Đàm dựa vào cốt truyện của game offline cùng tên được phát hành năm 2010, là sản
                    phẩm tiểu thuyết chính thức của phía Chúc Long Thượng Hải.
                </p>
                <p>
                    Tiểu thuyết dùng ngôn ngữ tinh tế, lời văn cô đọng, đậm phong cách cổ vận, hầu như đưa toàn bộ phong
                    cách thanh lệ của trò chơi vào tiểu thuyết. Đồng thời, dựa trên nguyên tác game, tiểu thuyết còn bổ sung
                    thêm nhiều nội dung hoặc đoạn ngắn không có trong trò chơi, làm tiểu thuyết càng thêm đầy đủ về nội
                    dung, cũng khiến câu chuyện của Cổ Kiếm Kỳ Đàm càng thêm hoàn mỹ.
                </p>
                <span>Tác giả: Mỗ Thụ, Ninh Trú </span><br>
                <span>Thể loại: Huyền huyễn </span><br>
                <span>Số trang: 320 </span><br>
                <span>Nhà xuất bản Hồ Nam văn nghệ </span><br>
                <span>Thời gian xuất bản: tháng 8 năm 2012 </span>
            </div>
        </div>
    </div>
</div>