<div class="container">
    <div class="row mb-5">
        <div class="col-12 mt-5">
            <a routerLink="" style="color: black;">TRANG CHỦ/ </a>
            <a style="color: rgb(6, 151, 187)"><b>LIÊN HỆ</b></a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="../../../assets/logo1.jpg" alt="" height="70">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <h4>TRƯỜNG ĐẠI HỌC NGUYỄN TẤT THÀNH - KHOA CNTT</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><i class="fa fa-location-arrow">&nbsp;&nbsp;&nbsp;</i>Địa chỉ: <a
                            href="https://www.google.com/maps/place/300a+Nguy%E1%BB%85n+T%E1%BA%A5t+Th%C3%A0nh,+Ph%C6%B0%E1%BB%9Dng+13,+Qu%E1%BA%ADn+4,+Th%C3%A0nh+ph%E1%BB%91+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7610408,106.7083065,17z/data=!3m1!4b1!4m5!3m4!1s0x31752f6f4be30cd7:0x3933aef250264252!8m2!3d10.7610355!4d106.7104952?hl=vi-VN">300A
                            Nguyễn Tất Thành, Phường 13, Quận 4, Tp.HCM</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><i class="fas fa-phone-alt">&nbsp;&nbsp;&nbsp;</i>Phone: 039 452 2293</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><i class="fas fa-phone-alt" style="color: red;">&nbsp;&nbsp;</i>Hotline: 18008198</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><i class="fas fa-mail-bulk" style="color: rgb(0, 124, 196);">&nbsp;&nbsp;&nbsp;</i>Email:<a
                            href="mailto:tuanvo1905tav@gmail.com"> tuanvo1905tav@gmail.com</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p><i class="fab fa-facebook" style="color: rgb(0, 162, 255);">&nbsp;&nbsp;&nbsp;</i>Facebook: <a
                            href="https://www.facebook.com/profile.php?id=100007923618095">https://www.facebook.com/profile.php?id=100007923618095</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-6">
            <h2 style="text-align: center; font-weight: 300; font-style: italic;">SINGUP</h2>
            <form [formGroup]="signupForm" (ngSubmit)="signup()" novalidate>
                <div class="form-group input-group">
                    <input type="text" placeholder="Example: Võ Công Tuấn" formControlName="name"
                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                </div>
                <div class="form-group input-group">
                    <input type="text" placeholder="Example: test@gmail.com" formControlName="email"
                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                </div>
                <div class="form-group input-group">
                    <input type="password" placeholder="Example: !dsfds656214dsdfs$" formControlName="password"
                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" required="">
                </div>
                <button color="basic" [disabled]="!signupForm.valid" mat-stroked-button type="submit">
                    <span>Sign up</span>
                </button>
            </form>
        </div>
        <div class="col-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6551178781033!2d106.70830651535631!3d10.761040762418764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6f4be30cd7%3A0x3933aef250264252!2zMzAwYSBOZ3V54buFbiBU4bqldCBUaMOgbmgsIFBoxrDhu51uZyAxMywgUXXhuq1uIDQsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1620584050519!5m2!1svi!2s"
                width="600" height="355" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>