<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 style="text-align: center; font-weight: 200; padding-top: 50px;">DANH SÁCH CÁC TÁC GIẢ MỚI ĐƯỢC YÊU THÍCH NHẤT 2021</h2>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg1.jpg" alt="" width="350">
                    </div>
                    <div class="col-8">
                        <p>Tác giả: Cố Mạn</p>
                        <p>Ngày sinh: 21/10/1981</p>
                        <p>Bí danh: Rùa Mạn, Cố Mạn</p>
                        <p>Quê quán: Giang Tô - Trung Quốc </p>
                        <p>
                            Sự nghiệp: Tốt nghiệp ĐH Kiểm Toán Nam Kinh, từng là biên tập của tạp chí "Tiên độ thụy lạc".
                        </p>
                        <p>
                            Tác phẩm: Bên nhau trọn đời, Yêu em từ cái nhìn đầu tiên, Sam Sam đến rồi, Tôi như ánh dương, ...
                        </p>
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="row">
                    <div class="col-8 mt-5">
                        <p>Tác giả: Hồ Thanh Nhân</p>
                        <p>Ngày sinh: 19/09/2000</p>
                        <p>Bí danh: Lãng tử vũ trụ</p>
                        <p>Quê quán: Tứ Xuyên</p>
                        <p>
                            Sự nghiệp: Tốt nghiệp ĐH Chiết Giang , từng là phát thanh viên của đài truyền hình trung ương ABC-Relax.
                        </p>
                        <p>
                            Tác phẩm: Bí mật bị thời gian vùi lấp, Anh và em hai thế giới, Tình yêu tuổi học trò, ...
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg4n.jpg" alt="" width="350">
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg2.jpg" alt="" width="350">
                    </div>
                    <div class="col-8">
                        <p>Tác giả: Đồng Hoa</p>
                        <p>Ngày sinh: 18/10/1982</p>
                        <p>Bí danh: Đồng Hoa</p>
                        <p>Quê quán: đang cập nhật...</p>
                        <p>
                            Sự nghiệp: Tốt nghiệp ĐH Bắc Kinh, học thạc sĩ về kinh tế - tài chính ở Mỹ.
                        </p>
                        <p>
                            Tác phẩm: Bộ Bộ Kinh Tâm, Đại mạc dao, Vân trung ca, Thời niên thiếu không thể quay lại ấy, ...
                        </p>
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="row">
                    <div class="col-8">
                        <p>Tác giả: Từ Thiên Trung</p>
                        <p>Ngày sinh: 01/01/1992</p>
                        <p>Bí danh: Thiên Mã Giao</p>
                        <p>Quê quán: Băc Kinh</p>
                        <p>
                            Sự nghiệp: Tốt nghiệp ĐH Bắc Kinh.
                        </p>
                        <p>
                            Tác phẩm: 7 ngày thân ái, Hào môn kinh mộng, Dụ tình, Trò chơi nguy hiểm, Tứ đại tài phiệt, 7 năm vẫn ngoảnh lại, Anh với em là phu thuê...
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg5n.jpg" alt="" width="350">
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="row">
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg3.jpg" alt="" width="350">
                    </div>
                    <div class="col-8">
                        <p>Tác giả: Ân Tầm</p>
                        <p>Ngày sinh: 15/4/1982</p>
                        <p>Bí danh: Cổ Tháp, Hồng Tụ Thêm Hương - Trung Quốc</p>
                        <p>Quê quán: </p>
                        <p>
                            Sự nghiệp: Tốt nghiệp ĐH chính trị Pháp luật Trung Quốc.
                        </p>
                        <p>
                            Tác phẩm: All in love, Vì sao đông ấm hạ mát, ...
                        </p>
                    </div>
                </div>
                <!-- ================================================ -->
                <div class="row mb-5">
                    <div class="col-8">
                        <p>Tác giả: Huỳnh Nam Thần</p>
                        <p>Ngày sinh: 22/5/2000</p>
                        <p>Bí danh: Đại Đại Thần Thám</p>
                        <p>Quê quán: Tứ Xuyên - Trung Quốc</p>
                        <p>Sự nghiệp: Tốt nghiệp ĐH văn hóa Bắc Kinh, tốt nghiệp ĐH Kinh Tế Đại Nam.</p>
                        <p>
                            Tác phẩm: Archimedes thân yêu, Tiểu nam phong, Vì gió ở nơi đấy, Anh biết gió từ đâu đến, Bắc Kinh nào đẹp bằng em, ...
                        </p>
                    </div>
                    <div class="col-4">
                        <img src="../../../assets/TacGia/tg6n.jpg" alt="" width="350">
                    </div>
                </div>
                <!-- ================================================ -->
            </div>
        </div>
    </div>
</div>