.container-fluid{
    background-color: rgb(52, 55, 58)!important;
    color: rgb(178, 183, 187);
}
h5{
    border-left: 4px solid rgb(252, 119, 10);
    padding-left: 15px;
}
p{
    font-size: smaller;
    padding-left: 20px;
}
.mxh i{
    font-size: 25px;
    color: rgb(252, 119, 10);
}
