
<div class="container-fluid">
    <div class="container">
        <div class="row pt-3">
            <div class="col-3 ml-0">
                <div class="row"><div class="col-12"><h5>TRUYỆN THỊNH HÀNH</h5></div></div>
                <div class="row"><div class="col-12"><p>Doanh Doanh tớ yêu cậu</p></div></div>
                <div class="row"><div class="col-12"><p>Thanh xuân của chúng ta</p></div></div>
                <div class="row"><div class="col-12"><p>Long Nhật Nhất đại thiếu gia</p></div></div>
                <div class="row"><div class="col-12"><p>Chọc phải điện hạ lạnh lùng</p></div></div>
                <div class="row"><div class="col-12"><p>Thế giới của tuổi trẻ</p></div></div>
            </div>
            <!-- ======================== -->
            <div class="col-3">
                <div class="row"><div class="col-12"><h5>TÁC GIẢ HOT</h5></div></div>
                <div class="row"><div class="col-12"><p>Thanh Hậu boy</p></div></div>
                <div class="row"><div class="col-12"><p>Quách Tuấn Thần</p></div></div>
                <div class="row"><div class="col-12"><p>Nguyệt Phu</p></div></div>
                <div class="row"><div class="col-12"><p>Lão già Doc</p></div></div>
                <div class="row"><div class="col-12"><p>A tũn</p></div></div>
            </div>
            <!-- ======================== -->
            <div class="col-3">
                <div class="row"><div class="col-12"><h5>THÔNG TIN CÔNG TY</h5></div></div>
                <div class="row"><div class="col-12"><p>TRƯỜNG ĐẠI HỌC NGUYỄN TẤT THÀNH - KHOA CNTT</p></div></div>
                <div class="row"><div class="col-12"><p><i class="fa fa-location-arrow">&nbsp;&nbsp;&nbsp;</i>300A Nguyễn Tất Thành, Phường 13, Quận 4, Tp.HCM</p></div></div>
                <div class="row"><div class="col-12"><p><i class="fas fa-mail-bulk">&nbsp;&nbsp;&nbsp;</i>Email: tuanvo1905tav@gmail.com</p></div></div>
                <div class="row"><div class="col-12"><p><i class="fas fa-phone-alt">&nbsp;&nbsp;&nbsp;</i>Phone: 039 452 2293</p></div></div>
            </div>
            <!-- ======================== -->
            <div class="col-3  mxh">
                <div class="row"><div class="col-12"><h5>MẠNG XÃ HỘI</h5></div></div>
                <div class="row pl-4"><div class="col-12"><p><i class="fab fa-facebook">&nbsp;&nbsp;&nbsp;</i></p></div></div>
                <div class="row pl-4"><div class="col-12"><p><i class="fab fa-youtube">&nbsp;&nbsp;&nbsp;</i></p></div></div>
                <div class="row pl-4"><div class="col-12"><p><i class="fab fa-twitter">&nbsp;&nbsp;&nbsp;</i></p></div></div>
                <div class="row pl-4"><div class="col-12"><p><i class="fab fa-google-plus-g">&nbsp;&nbsp;&nbsp;</i></p></div></div>
            </div>
        </div>
        
    </div>
</div>
<div class="row" style="border-top: 1px solid rgb(139, 139, 139); color: rgb(165, 165, 165);">
    <div class="col-12 text-center" style="font-size: smaller; background-color: rgb(52, 55, 58); ">
        Copyright &copy; 2021 Võ Công Tuấn - 1800004716
    </div>
</div>