<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <a routerLink="" style="color: black;">TRANG CHỦ/ </a><a routerLink="gioithieu"
                style="color: rgb(6, 151, 187)"><b>GIỚI THIỆU</b></a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="container text-justify" style="border-bottom: 1px solid rgb(238, 238, 238);">
            <h3 style="border-bottom: 1px solid rgb(224, 224, 224);"><b
                    style="border-bottom:3px solid rgb(6, 151, 187);">VỀ CHÚNG TÔI</b></h3>
            <p> Đọc truyện online, đọc truyện chữ, truyện hay. Website luôn cập nhật những bộ truyện mới thuộc các thể
                loại đặc sắc như truyện tiên hiệp, truyện kiếm hiệp, hay truyện ngôn tình một cách nhanh nhất.</p>
            <p>Với tiềm lực mạnh về các tác phẩm, vững vàng về kinh nghiệm, cùng rất nhiều tác giả tài năng, nhiệt tình,
                năng động, sáng tạo. Webtruyen nỗ lực không ngừng trong
                để hỗ trợ các tác giả đăng những tác phẩm hay nhất, mới nhất, giúp truyền tải những tác phẩm đến bạn
                đọc.</p>
            <p>Nếu bạn thực sự muốn trở thành một tác giả thì bạn phải chuẩn bị dành rất nhiều giờ trong ngày cố gắng
                nghĩ ra những ý tưởng độc đáo và thú vị. Bạn có thể phải dậy trước khi bình minh ló rạng để bắt đầu công
                việc "thực sự" của mình. Bạn có thể phải ghi vội những ý tưởng trên chuyến tàu về nhà. Sẽ có những lúc
                bực bội, nhưng những lúc khác sẽ thỏa mãn hơn bạn có thể tưởng tượng. Và cảm giác viết một cuốn sách rồi
                trình làng có thể là một trong những điều tuyệt vời nhất trên thế giới. Bạn có nghĩ bạn có những phẩm
                chất để thực sự trở thành một tác giả không? Để tìm ra, hãy tiến hành những bước sau.</p>
            <p>Nếu bạn đã có ý tưởng về thể loại mình muốn viết, cho dù đó là khoa học giả tưởng hay phi hư cấu, bạn nên
                tập trung đọc những quyển sách thuộc dòng này. Tuy nhiên, để trở nên hay chữ nói chung, bạn nên đọc càng
                nhiều càng tốt.
                Càng đọc, bạn càng trở nên quen với những công thức sáo mòn phổ biến. Bạn muốn cuốn sách của mình nổi
                bật, do vậy, nếu bạn thấy có tới mười cuốn sách quá giống với nó, bạn có thể phải tìm một góc nhìn khác.
                Khi bạn tìm được một cuốn sách bạn thực sự thích, hãy hỏi bản thân điều gì khiến nó đặc biệt với bạn đến
                vậy. Có phải là nhân vật chính lố bịch không? Những áng văn đẹp đẽ? Cảm nhận về nơi chốn? Bạn càng xác
                định được tại sao bạn lại thích một quyển sách, bạn sẽ càng sắc sảo hơn trong nỗ lực khiến cuốn sách của
                mình thu hút đông đảo độc giả.</p>
            <p> Việc đầu tiên cần làm là nảy ra một ý tưởng lôi cuốn và kích thích mọi người. Bạn có thể phải bắt đầu
                viết trước khi tìm ra ý tưởng -- bạn có thể thậm chí phải viết ba trăm trang trước khi nhận ra quyển
                sách của bạn "thực sự" nói về điều gì. Tuy nhiên, hãy bắt đầu với một luận đề chung chung -- câu chuyện
                về một cô gái lớn lên ở Ukraine trong thời cách mạng Bolshevik, một tác phẩm phi hư cấu về tầm quan
                trọng ngày càng tăng của các trường công đặc cách ở Mỹ -- và xem bạn có thể phát triển nó tới đâu.</p>
        </div>
        <div class="hinhAnh mt-5">
            <h3 style="text-align: center; font-weight: 400;">MỘT SỐ TÁC PHẨM SẮP RA MẮT</h3>
            <div class="container">
                <div class="row">
                    <div class="col-3"><img src="../../../assets/imgTT/img1.jpg" alt=""></div>
                    <div class="col-9 text-justify pt-2"><b style="font-size: 50px; font-weight: 200;">N</b>ếu bạn muốn
                        tìm kiếm những chi tiết nhẹ nhàng, dễ thương, câu
                        chuyện này không dành cho bạn! <br>

                        Nếu bạn muốn tìm kiếm những tình yêu mòn mỏi chờ đợi không thay đổi, câu chuyện này cũng chẳng
                        thể thỏa mãn bạn! <br>

                        Nhưng nếu bạn muốn tìm kiếm những mảng gai góc của cuộc sống, tìm kiếm nhữngcon người đang cố
                        gắng mỗi ngày đến gần hạnh phúc, vậy hãy ngồi lại nghe tôi kểmột câu chuyện, một câu chuyện có
                        cay đắng mặn chát những dư vị cuộc đời, nhưngcó lẽ đáng giá khi đọng lại cuối cùng là vị ngọt
                        thanh tao.<br>

                        Cô bé quen cậu bé khi họ mười ba tuổi, trong câu chuyện trẻ thơ, một vài lời khenngây thơ của cô
                        bé đã trở thành động lực cho ước mơ học múa của cậu bé. Nhưng cuộc đời đổi thay, những đứa trẻ
                        đi theo những ngã rẽ khác nhau, xa nhau rồi lạc nhau. Cô bé tên là Thuấn Nhân, còn cậu bé tên là
                        Tử Chấn. Giống như khi chiếc bánh xe định mệnh bị đẩy đi, câu chuyện cuộc đời họ cứ tiếp diễn
                        chẳng thể nào dừng lại.
                        <p class="mt-2" style="color: rgb(6, 98, 134);">Tác giả: Nguyên Ngộ Không</p>
                    </div>
                </div>
                <div class="row mt-5 text-justify">
                    <div class="col-8">
                        Thể loại: Ngôn tình, hiện đại, hài hước <br>

                        Còn gì éo le hơn việc "thẳng" nữ lại bị hiểu nhầm thành người đồng tính, bị công ty sa thải, lại
                        còn đụng phải một tên "vô lại". Vừa thất nghiệp, đường tình trắc trở vì vội vàng tìm bạn trai để
                        chứng minh mình trong sạch, cuộc sống của cô dường như trở nên bế tắc. Nhưng rồi một ngày cô
                        nhận thấy dường như tên "vô lại" đó lúc nào cũng xuất hiện trong thế giới của cô, cô cảm giác
                        như mình có cảm tình với anh ta mất rồi. <br>

                        <p class="mt-2" style="color: rgb(6, 98, 134);">Lời tự bạch của Minh Nguyệt Thính Phong:</p>
                    </div>
                    <div class="col-3"><img src="../../../assets/imgTT/img2.jpg" alt="" width="350"></div>
                </div>
                <div class="row mt-5 mb-5">
                    <div class="col-4"><img src="../../../assets/imgTT/img4.png" alt="" width="350"></div>
                    <div class="col-8 text-justify pt-2">
                            Thể loại: tiểu thuyết <br>
                            Mỗi ngày, cuộc sống ban tặng cho chúng ta hàng trăm sự lựa chọn. Nhưng
                            có một số chọn lựa không bao giờ nên thực hiện. Thông qua câu chuyện
                            này, bạn sẽ khám phá nghèo đói và thiếu cơ hội có thể ép buộc người ta
                            phải đưa ra những quyết định khó khăn – thậm trí ngoài sức tưởng tượng
                            như thế nào – chỉ để được tồn tại. <br> Cũng qua câu chuyện này, bạn sẽ trải
                            nghiệm những kết quả hủy hoại tiềm tàng có thể xảy ra. Bằng việc chia sẻ
                            cũng như thảo luận các chủ đề của cuốn sách này, bạn có thể giúp những
                            người khác trong cộng đồng của mình biết về những nguy hiểm của việc
                            di cư không an toàn, mua bán người, và thúc đẩy họ hành động tạo ra sự
                            thay đổi cho những người khác trong thế giới của chúng ta. <br>
                            Trong câu chuyện này, bạn sẽ được yêu cầu vào vai một nhân vật nữ sống
                            ở vùng Đông Á. Những thách thức mà bạn sẽ đối mặt đại diện cho những
                            trải nghiệm mà nhiều người trẻ tuổi trong khu vực đã và đang phải đối
                            mặt. Bằng việc bước vào cuộc sống của nhân vật, bạn sẽ tự nhận thấy
                            rằng, thậm trí một quyết định nhỏ thôi có thể tạo ra ảnh hưởng lớn như
                            thế nào tới đường đi của cuộc đời bạn. <br>
                            Cần nhận thức rằng một số kịch bản không có những kết thúc có hậu
                            và bạn có thể phải thoát ra khỏi cảm giác trải nghiệm với một chút thất
                            vọng. Hãy dành thời gian để suy nghĩ về những cảm xúc đó bằng việc đọc
                            những câu hỏi tự vấn tại cuối câu chuyện. <br>
                            <p class="mt-2" style="color: rgb(6, 98, 134);">Tác giả: Lan Pugh</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>