.hinhTron{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: rgb(224, 223, 223);
    float: right;
    margin-top: -180px;
    margin-right: -80px;
    opacity: 0.5;
}
.hinhTron h1{
    margin-top: 300px;
    padding-left: 25px;
}
.bgg{
    background-image: url(../../../assets/bg-cafe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}